.DS_Store
Makefile~
version.txt~
version.hpp
bin/wav2png_profile
*.wav
*.wav.png
dependencies/include/png++
wav2pngDroplet.app
.gitignore~
icons/*.png
music.wav
tteesstt.png
song.mp3
wav2png_batch_output
